### Imports

In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [155]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
import string
from nltk.corpus import stopwords
from nltk import word_tokenize
from sklearn.model_selection import train_test_split

In [156]:
from nltk.stem import WordNetLemmatizer

In [157]:
from afinn import Afinn

In [158]:
import spacy
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS
import en_core_web_sm

In [159]:
pd.set_option('display.max_rows',600)
pd.set_option('display.max_columns',500)

In [160]:
df = pd.read_csv('final_df_v3.csv', index_col='Unnamed: 0')

# Cleaning DF

In [161]:
df.dropna(subset=['review','rating'], inplace=True)

In [162]:
df.reset_index(drop=True, inplace=True)

## Removing Bad Strings

In [163]:
bad_str_1 = 'Follow NYT Food on Twitter and NYT Cooking on Instagram, Facebook, YouTube and Pinterest.'
bad_str_2 = 'Get regular updates from NYT Cooking, with recipe suggestions, cooking tips and shopping advice.'
bad_str_3 = 'What the stars mean: (None) Poor to Satisfactory * Good ** Very Good *** Excellent ****' 
bad_str_4 = 'Extraordinary Ratings reflect the reviewer\'s reaction primarily to food, with ambiance and service taken into consideration.' 
bad_str_5 = 'Menu listings and prices are subject to change.'
bad_str_6 = 'Extraordinary Ratings reflect the reviewer\'s reaction to food, ambiance and service with price taken into consideration.'
bad_str_7 = 'ON THE WEB PAST REVIEWS from the New York Times, with additional capsule reviews by Times critics: nytimes.com/dining'

def del_bad_str(review):
    
    for string in [bad_str_1, bad_str_2, bad_str_3, bad_str_4, bad_str_5, bad_str_6, bad_str_7]:
        
        if string in review:
            
            review = review.replace(string, '').strip()
    
    return review

In [164]:
df['review'] = df['review'].apply(lambda x: del_bad_str(x))

## Fixing Rating

In [165]:
def categorize(rating):
    if rating in ['0.25 star', '0.5 star', '0.75 star', 'Fair', 'Satisfactory', 'Poor', 'SATISFACTORY']:
        return '0 star'
    elif rating in ['1 star', '★']:
        return '★'
    elif rating in ['2 star','★★']:
        return '★★'
    else:
        return '★★★'

In [166]:
df['rating'] = df['rating'].apply(lambda x: categorize(x))

In [167]:
df.head()

,name,rating,review_date,reviewer,review_url,neighborhood,cuisine,recommendations,review,headline
0,Hanon,★★,2019-05-21,Pete Wells,https://www.nytimes.com/2019/05/21/dining/hano...,Williamsburg,Japanese,Japanese omelet; fried chicken with spice; ric...,"Hanon, a new udon shop in Williamsburg, Brookl...","Udon, Innovated for Your Pleasure"
1,Del Posto,★★★,2019-05-14,Pete Wells,https://www.nytimes.com/2019/05/14/dining/del-...,Chelsea,Italian,Grilled salsify salad; vitello tonnato; minest...,"More than a year ago, I was on the verge of re...","In Del Posto’s New Era, Cuisine and Service Ar..."
2,The Freakin Rican,★,2019-05-07,Pete Wells,https://www.nytimes.com/2019/05/07/dining/the-...,Astoria,"Caribbean, Latin American",Alcapurrias; pasteles; bacalaitos; chicharrone...,It is true that the bacalaitos at the Freakin ...,Pasteles and Two Kinds of Fried Chicken at the...
3,Wayan,★★,2019-04-23,Pete Wells,https://www.nytimes.com/2019/04/23/dining/waya...,NoLIta,Indonesian,Hearts-of-palm salad; clams Jimbaran style; av...,If you ate at Spice Market before it closed tw...,Tapping a Family Connection to Indonesian Food
4,Niche,★,2019-04-16,Pete Wells,https://www.nytimes.com/2019/04/16/dining/nich...,Lower East Side,Japanese,Avocado crunch; yuzu scallop crudo; umami komb...,"In 2012 and 2013, when people were lining up a...",Ramen Without Broth? A Chef Doubles Down on a ...

# Making a Stopwords List

In [168]:
NYT_stoplist = ['follow','NYT','nyt','food','twitter','cooking','instagram','facebook','youtube','pinterest','Cooking',
 'recipe','suggestions','cooking','tips','shopping','advice','food', 'restaurant', '00',
 '000','0000','0005','0008','0030','0050','0082','0101','0105','0200','0220','0233','0242','0271','03','0303','0327',
 '0350','0404', '05', '0505', '0553', '0555', '0665', '07', '0808', '0812', '0820', '0905', '0906', '0999', 'street', 
 'ave','★','*','atmosphere','sound','wine','list','am','pm', 'daily', 'monday','tuesday','wednesday','thursday',
 'friday','saturday','sunday','hours','wheelchair','access','0003', '0012', '0020', '0033', '0085', '0100', '02',
 '0202', '0211', '0215', '0221', '0228', '0300', '0400', '0412', '0470', '0606', '0700', '08', '0844', '0880', '0955',
 'mr', 'dinner']

numbers_stoplist = [str(x) for x in range(0,2020)]

In [169]:
new_stop_words = [';','.',',','’','“','”','—', ':', '(', ')', 'nyt', '$','would', 'one', 'mr.', \
                  'came', 'table', 'get', 'year', 'water', 'go', 'along', 'first', 'second', \
                  'restaurant', 'new', 'york', 'cooking', 'shop', 'might', 'also', 'make', 'made', 'also'\
                  'food', 'menu', 'meal', 'list', 'dish', 'table', 'dining', 'server', 'food', 'room', 'floor',\
                  'served', 'may', 'want', 'brought', 'night', 'customer', 'said', 'say', 'come', 'dinner', 'le',\
                  'name', 'time', 'chef', '!', 'side', 'day', 'night', 'ate', '?', 'back', 'customers', 'restaurants',\
                  'ingredient', 'cook','dish', 'lunch', 'a.m.', 'p.m.', '\'s', 'way', 'ms.', '--', 'n\'t']

In [170]:
stop_entities = ['GPE', 'CARDINAL', 'PERSON', 'DATE']

def remove_named_entities(review):
    
    # Get Entities
    nlp = English()
    nlp = en_core_web_sm.load()
    
    doc = nlp(review)
    
    stop_entity_list = []
    entities=[(i, i.label_, i.label) for i in doc.ents]
    
    for entity in entities:
        
        if entity[1] in stop_entities:
            stop_entity_list.append(str(entity[0]).lower())

    return stop_entity_list

In [171]:
nested = []
for review in df['review']:
    se_list = remove_named_entities(review)
    nested.append(se_list)

In [172]:
stopped_entities = [word for sublist in nested for word in sublist]

In [173]:
stopped_entities = list(set(stopped_entities))

In [174]:
stopped_entities

['georg breuer',
 'february',
 'josh ochoa',
 'harrison',
 'jeremy piven',
 'meat hook sandwich',
 'kolokithi',
 'hava nagila',
 'jun ichikawa',
 'two to four',
 'atkins',
 'michael laiskonis’s',
 'six days',
 'salon millesime',
 'more than 200 years',
 'philippe massoud',
 'sri lanka',
 'luciano',
 'rotisserie',
 'kowloon',
 'robert aikens',
 'tocqueville',
 'raveneau',
 '2000',
 'game changing',
 'a year and a half ago',
 'della rovere',
 'genoa',
 'his week',
 'bianco',
 'rialto',
 'the time of year',
 'hospoda',
 'gaon',
 'redeye grill',
 'kajitsu',
 'james calvert',
 'stephen gaghan',
 'turley',
 'jell',
 'spooky',
 'kim',
 'puerto',
 'suarez',
 'williamsburg',
 'pierre schutz',
 'simone bonelli',
 'the previous decade',
 'the first month of spring',
 'sun',
 'prague',
 'klink',
 'nearly four years ago',
 '1854',
 'at least a week ahead',
 'the 1940s',
 'online frank bruni',
 'rice',
 'last fall',
 'colleen grapes',
 'warmly',
 '165',
 'din tai fung',
 'the fall of 2008',
 'anita lo’s',
 'jayhawks',
 'nat king cole',
 'uruguay',
 'yau',
 'five years old',
 'early april',
 'st. petersburg',
 'david',
 'thomas slivovsky',
 'the last decade',
 '212)929-1800',
 'martin brudnizki design studio’s',
 'boqueria',
 'iman',
 'jeff salway',
 'jo jo',
 'coi',
 'bolognese',
 '2002',
 'gabrielle hamilton',
 'manahatta',
 'pfeifer',
 'richard',
 'tommy tune',
 '3',
 'brie',
 'several days',
 'genevieve villamora',
 'nougatine',
 'ahn',
 'south brooklyn’s',
 'moscow',
 'stone park cafe',
 '349',
 '15 successful years',
 'october —  ',
 'one-fifth',
 '528-0400',
 'the czech republic',
 'john mcsorley',
 '2009',
 'smoky',
 '362-7470',
 'almost three',
 'chomp chomp',
 '60 days',
 'boomshakalaka',
 'talmud',
 '219',
 'christopher rendell',
 'psilakis’s',
 'about four years ago',
 'nasim alikhani',
 '262',
 'gourmet',
 'ueshima',
 'twiggy',
 'marina schulze',
 'kamel saci’s',
 'michael pollan',
 'gwynnett st.',
 'zambonis',
 't. j. steele',
 'half',
 'stulman',
 'sohui kim',
 'david wondrich',
 'la francescana',
 'pollan',
 'prosecco',
 'max',
 'soto-innes',
 '1968',
 'india',
 'georgia',
 'more than a half',
 'the spring of 2013',
 'yoo-hoo',
 'ruth reichl',
 'geraldo bruno',
 'hoffman',
 'suzy taekyung kim',
 'astoria seafood',
 'hwa yuan szechuan',
 'bistro pierre lapin',
 '89',
 'lo',
 'willy wonka',
 '100 years',
 'age 14',
 'west fourth',
 'liza minnelli',
 'almost six years ago',
 'gouda',
 'ali’s kenyan',
 'langello',
 'malvani',
 'sammy’s',
 'robuchon',
 '980',
 'frascati',
 '50 years ago',
 'wordsworth',
 '428',
 'iceland',
 "p.j. clarke's",
 'centrico',
 'this week',
 'manila',
 '59',
 'nolita',
 'fred dexheimer',
 'brunch',
 'acurio',
 'buffalo',
 'stephen sondheim',
 'extraordinary  ',
 '152',
 'palermo',
 'tejada',
 "david rockwell's",
 'sardinia',
 'canton',
 'rouge et blanc',
 'leslie vinyard',
 'xian zhang',
 'sammy',
 'anselmi',
 'christopher wren-like',
 'a little more than a year ago',
 'uber',
 'chapoutier',
 'natarajan',
 'ramirez’s donatello',
 'babe ruth',
 'rice krispies',
 'slojkowski',
 'laura shapiro',
 'mccartney',
 'ganges',
 'his days',
 'sukle',
 'midwood',
 'toloache',
 '2004',
 'some day',
 'carbonara',
 'capellini',
 'cajun chicken alfredo',
 'nearly a dozen',
 'bronx',
 'centro vinoteca',
 'sarasota',
 'gaye',
 'about four months ago',
 'laird w. bergad',
 'estela',
 'barneys',
 'certain nights',
 'westchester',
 'lexington',
 'slover',
 'hooni kim',
 '977-7700',
 'burgundy',
 'westbeth',
 'belisle',
 'prep',
 'altamarea',
 'hot pockets',
 'veuve',
 'surma',
 'new york’s',
 'czechoslovakia',
 'cilantro',
 'wonder',
 'meg grace',
 'damian sansonetti',
 'the same year',
 'nakazawa',
 'albert finney',
 'new york city’s',
 'abalone',
 'judiciously',
 'more than half a dozen',
 'netherlands',
 'sri lankan',
 'five million',
 'schoharie county',
 '989',
 'zhu',
 'milk bar',
 '2019',
 'thomas',
 '262-4600',
 '2004-9',
 'paul di bari',
 'chopard',
 'boursin',
 'sean penn',
 'johnny garlic’s',
 'dover',
 'kim ng',
 'a half dozen',
 'john iconomou',
 'the early 1990s',
 'heartbeat',
 'philippe starck',
 'the late winter',
 'bounce deuce',
 'justin bogle',
 'louis ceruzzi',
 'mary',
 '212)554-1515',
 'wooden',
 'bao 111  ',
 'tuome',
 '741',
 'adobo',
 'tenpenny',
 'earlier this year',
 'locanda',
 'lowder',
 'kyo ya’s',
 'astoria',
 'jordan salcito',
 'west village',
 'andy warhol',
 'michelle pulixi',
 'ken',
 'jamie bissonnette',
 '808',
 'some 150',
 'marseille',
 'gascony',
 'uniqlo',
 'frenchman',
 'daniel boulud',
 'tía pol',
 'zouad',
 'cotija',
 "kristen d. murray's",
 'toscano',
 'her early 20s',
 'a junior year',
 'puerto vallarta',
 'ken aretsky',
 '39',
 'converse',
 'alain ducasse’s',
 'two',
 'snow white',
 'st. émilion',
 'ten years',
 'azalea',
 'tipmanee',
 'guan fu-style',
 'laura',
 '1995',
 'mccoy',
 'danny rose',
 'a charred half',
 'the first half',
 'goi du du',
 'aix',
 'buvette',
 'forge',
 '352-2300',
 'pocantico hills',
 'bishara',
 'barber',
 'ortúzar',
 'lo scalco',
 'han dynasty’s',
 'donald trump',
 'mako okano',
 'tom colicchio’s',
 'glossier',
 '1967',
 'wisconsin',
 'about 100',
 'doug psaltis',
 'adoni’s',
 'barchetta',
 'tom stoppards',
 'south korea',
 'alfred stieglitz',
 'the late 1990s',
 'shrimp luciano',
 'madge',
 'jason neroni',
 '13 years ago',
 'milton glaser',
 'sushi dojo',
 '8 1/2',
 'gargiulo',
 'bourguignon',
 'todd english',
 'germany',
 'key kim',
 'alex raij',
 'gallagher’s',
 'opus ones',
 'floyd cardoz',
 'hyland',
 'any season from 1919 to 2003',
 'monday through saturday',
 'orkin',
 'michael o’keeffe',
 'october',
 'dozen',
 'karina',
 'morita',
 'marty',
 'barbados',
 '230',
 '17 years',
 'gray',
 'the next two months',
 'yuzu',
 'taylor swift',
 'thousands',
 'this summer',
 'günter seeger',
 'year-old',
 'voellenzer sauvignon blanc',
 'prime weekend',
 'more than a year ago',
 'cardenal',
 'david rockwell',
 '1992',
 '4,921',
 'boozy creamsicles',
 'coppelia',
 'the last four and a half months',
 'coco pazzo trattoria',
 'rodauner 2006',
 'balan',
 'sugie',
 'bayonne',
 'hatsuhana',
 'about days later',
 'january',
 'jaime reixach',
 'burgundian',
 'pujol',
 'chow’s',
 'john brennan',
 'amanda freitag',
 'july 10, 5',
 'james truman',
 'little chef',
 'armagnac',
 'madangsui ★',
 '56 days',
 'andrew feinberg',
 'weller',
 'late may.',
 'mark welker',
 'just two and a half years',
 '5-o’clock',
 'caribs',
 'michael bolton',
 'saheem ali',
 '1940',
 'the 15th century',
 'septime',
 'jabberwocky',
 '2001',
 'closer',
 'joe bastianich',
 'calabria',
 'united states',
 'ssam bar’s',
 'bar sardine',
 'el quinto',
 'shakira',
 '852-8490',
 '265',
 'rhong-tiam',
 'winter',
 'ravenna',
 'waiter',
 '224',
 'zabb elee',
 'houston street',
 'weeks',
 'pat morita’s',
 'schiller',
 'sichuan',
 '24 months',
 'rachel yang',
 'taavo somer',
 'lobby',
 'michel richard',
 'harold holzer',
 'seven days',
 'reggio',
 '982-5714',
 'queens',
 'ricker’s',
 'the start of this year',
 'graydon carter',
 'taber',
 'more than 100',
 'froggy',
 'williams',
 '683-2130',
 'soy',
 'harold dieterle’s',
 'ten years ago',
 'heffernan',
 'chris parachini',
 'bordelaise',
 'tony',
 'sweetwater tavern',
 'anna pavlova',
 'sister morphine',
 'steely dan',
 'decades',
 'colorado',
 'villamora',
 'conant',
 'the spanish empire',
 'john winterman',
 '1985',
 'barbès  ',
 'josh ozersky',
 'the 1970s',
 'audrey hepburn',
 'israel',
 'juul-hansen',
 'sauvignon blanc',
 '570',
 'keens steakhouse  ',
 '10',
 'delaney',
 'little serow',
 'redding',
 'share',
 'anne rice',
 'led zeppelin',
 'cotton',
 'a hundred years',
 'tinton falls',
 'next year',
 'studio cafe',
 'new haven',
 'marcona',
 'fishs eddy',
 'hanson',
 'emily isaac',
 'the end of the day',
 'bacchus',
 'tomita’s',
 'kim kardashian',
 'delaware',
 'yellow submarine',
 'kreuther',
 'concetta',
 'zakary pelaccio’s',
 'canora',
 '50 years old',
 'max brenner  ',
 'nearly every day',
 '718)369-0082',
 'hiroki odo',
 'the next week',
 'palizzi',
 'steele',
 '219-2777',
 'issa',
 'ben sandler',
 'west drive',
 'a number of months',
 'a month ago',
 'battery park city',
 'bobby flay’s',
 'the day',
 'mishima',
 'gastropub',
 'welsh',
 '47',
 'just 18 months',
 'dansk',
 'guangzhou',
 'le relais de venise',
 'henry’s',
 '729',
 'maggie',
 'james’s',
 '564-7272',
 'frogasms',
 'ohm',
 'herbert’s',
 'her days',
 'luongo',
 'monday to friday',
 '55',
 'circus',
 'four',
 '1973',
 'ronald s. lauder',
 'leiber',
 '473-0220',
 'gastón acurio',
 'renaissance tuscany',
 'less than a year later',
 'don peppe',
 '308',
 'cohen',
 'a few months ago',
 'frank falcinelli',
 'kotsoni',
 'marco fregonese',
 'jo stafford’s',
 'earl grey',
 'fontina',
 'little more than a year ago',
 'anna bolz',
 'smalls',
 'asiago',
 '750-5588',
 'gene kato',
 'niche',
 'allegretti',
 'grinker',
 '1871',
 'paris',
 'wild muscovy',
 'sabbath',
 'three to six',
 'the week',
 'miami',
 'clark gable’s',
 'bar artisanal’s',
 'richard wright',
 '1811',
 'jonathan becker',
 'el toro blanco’s',
 'copenhagen',
 'salina',
 'jonathon sawyer',
 'pimentel',
 'village cafe',
 'phil pratt',
 'more than a year',
 'alex baker',
 'fewer than a third',
 'jang',
 'steelman',
 'the next few days',
 'the last five years',
 'about 70',
 'about eight',
 'moore',
 'los angeles’s',
 'lehar',
 'osso',
 'julia moskin',
 'carmen quagliata',
 'lawrence knapp —',
 'some nights',
 '359',
 'time cafe',
 '265-5959',
 'indiana',
 'jaew',
 'brendan spiro',
 'oliver twist',
 'zachary miller',
 'deborah racicot’s',
 'washington',
 'more than half',
 'gen yamamoto',
 '’ve',
 'luger',
 'a number of years',
 'four or five',
 'macchiona',
 'koreatown',
 '11:30a.m',
 '274-9898',
 'root',
 'voilà',
 'st.',
 'davis studio',
 'cal pep',
 'carmellini café boulud  ',
 'more than six months',
 'stars',
 'terrence segura',
 'bryant ng',
 'william grimes',
 'poughkeepsie',
 'early september',
 'jean-louis dumonet',
 'romanée-conti',
 'dumonet',
 'costaripa',
 'kanan',
 "tommy tang's",
 'jefferson',
 'mojave',
 '754-1300',
 "da silvano's",
 'barbouni',
 'weeks later',
 'sahib’s',
 'christopher beischer',
 'dylan',
 'fugazi',
 'onassis',
 'jody',
 'a few four',
 'illinois',
 'olga raffault',
 'bernardaud',
 'carolina',
 'betty white',
 'samuelsson',
 'ng’s',
 '275',
 'shelley winters',
 'dungeness',
 'wong',
 'ryo hasegawa',
 'acme',
 'just five',
 'the last month or so',
 'pandora’s box',
 'atlanta',
 'saint bernard',
 'quarterly',
 'josh eden',
 'syria',
 'gets meta',
 'o.k.',
 'almost 100',
 'alexandra ray’s',
 'sasha muniak',
 'some 14 years',
 '824-2600',
 '1892',
 'rob larcom',
 'brasserie',
 'october 1998',
 'sarah obraitis',
 'claes oldenburg',
 'the summer of 2013',
 'marrow',
 'pulqueria',
 'one day last june',
 'muscovy',
 '385',
 "stephen hanson's",
 'atsushi kono',
 'the end of december',
 'north star',
 'cannon',
 'bacalao',
 'appalachia',
 'polynesia',
 'fisher’s berliners',
 '647',
 'this languorous summer',
 'muay thai',
 'romano',
 'fat',
 'fujian',
 'joshua mcfadden',
 'carter',
 'the 18 years',
 '1969',
 'six weeks ahead',
 'iron chef”',
 'a half-dozen',
 'bibb',
 'zadie’s',
 'prospect heights',
 'park b. smith',
 'mezzogiorno',
 'hugh mangum',
 'the coming months',
 'waxy',
 'gorgonzola',
 'anand',
 'bar basque',
 'm. wells dinette',
 'julie reiner',
 'carlo mirarchi',
 'aaron thorp',
 'joseph johnson',
 'fiamma',
 'venice',
 'larry forgione',
 'assaggini',
 'alex ureña',
 'piaf',
 'delicatessen’s',
 '11.30',
 'cressotti',
 'mix',
 'francophilia',
 'gordon weissman',
 'nearly 200',
 'pig bleecker',
 '964',
 'frisbees',
 'two years old',
 'lisa giffen',
 'one weekend',
 '8 years old',
 'at least a half dozen',
 'irving mill’s',
 'at least a few days ahead',
 'bairrada',
 'laura ingalls wilder',
 'only half',
 'roni mazumdar',
 'the next four years',
 'tropica',
 'joseph bastianich',
 'patricia cornwell',
 'garlider',
 'vincent mazeau',
 '25 years',
 'under 35',
 'cucina',
 'obraitis',
 'thomas keller',
 'johnson’s lowcountry',
 'erik bagger’s',
 'nizami',
 'cel-ray',
 'patagonia',
 'humdrum',
 'iron chef',
 'terrance brennan',
 'santa barbara',
 'carlos suarez',
 'kang ho dong baekjeong',
 'peels',
 'nearly two weeks',
 '30 years',
 '600-7150',
 'café henri',
 'basmati',
 '1',
 'estiatorio milos',
 'kuettel',
 'monday to thursday',
 'amaretto',
 'conterno',
 'lyonnais',
 'los gatos',
 '15',
 'patrick cournot',
 'paul grieco',
 'coxsackie',
 'eric ripert',
 'anita pallenberg',
 'joe —',
 'anita trehan',
 'michael stokes',
 'avital',
 'chef',
 'samyang',
 'late 2006',
 '431',
 'eric kleinman',
 'chapel hill',
 'any given day',
 'chiapas',
 'tom wolfe',
 'st. george',
 'tamarind',
 'a hard day',
 'monkey',
 '885',
 'sang hyun lee',
 'elise rosenberg',
 'a new spring, summer',
 'bengal',
 'justin slojkowski',
 'zurich',
 'three decades',
 'robert gurvich',
 'cinderella',
 'lupulo',
 'cibo',
 'ann redding',
 'pearland',
 'tony li',
 'zeros',
 'rose’s',
 'la vara’s',
 'de-augustined',
 'riingo',
 'studio writers',
 'borgognone',
 'justifiably',
 'fragonard',
 'martin amis',
 'nieporent',
 'weekend',
 'luc dimnet',
 'ricker',
 '17 years ago last month',
 'martin sheen',
 'elliott',
 'simone tong',
 '645-5659',
 'david bouhadana',
 'jason hall',
 '218-8047',
 '212)921-3330',
 'raymond blanc’s',
 'two weeks before christmas',
 'empanada',
 'lucky peach',
 'ed',
 'positano',
 '246',
 'grimaldi',
 'more than a decade earlier',
 'thousand',
 'rob base',
 'g.p.s.',
 's.s. upper west side',
 'wallsee',
 "early 30's",
 '1988',
 'one year ago this month',
 'jarred roth',
 'escoffier',
 'gene simmons',
 'winner',
 'brian de palma',
 'the 28 days',
 'leger',
 'meyer',
 'le coze',
 'unicorns',
 '525',
 'loin',
 'reynolds',
 'more than 50,000',
 'the first year',
 'mikey price',
 'eduardo porto carreiro',
 'alinea',
 'four months',
 'table 8',
 '5 ninth',
 'john fraser',
 'christina tosi',
 'jesse schenker',
 '1914',
 'nobu downtown',
 'more than a week ahead',
 'ginger fisher’s',
 'zoë',
 'sloopy',
 'just a few years',
 'sukiyaki',
 'brunos',
 'momofuku ssam bar',
 'last weekend',
 'warm nights',
 '10 months',
 '328-0000',
 'fabian von hauske',
 '633-2590',
 'duane reade',
 '809-3993',
 'ty pennington',
 'avon barksdale',
 'the end of august 2009',
 'at least 5 days ahead',
 'only a couple of months old',
 'tuna',
 'palmer',
 'ici',
 'lópez may',
 'reykjavik',
 'kimchi',
 'alan wong',
 '1987',
 'checker',
 'eleven madison park',
 '212)242-1122',
 'bay ridge',
 'at least half a dozen',
 'frank decarlo',
 'fiore',
 'taku nagai',
 'carussin',
 'tallahassee',
 'the last days',
 'brussels',
 'two or more weeks',
 'james beard award',
 't. g. i.',
 'danny',
 'monkey bar ★',
 'two and a half months ago',
 'just days',
 '136',
 'about three or four',
 'hunan slurp’s',
 'michel torino’s',
 'tijuana',
 'suzuki',
 'firecracker fish',
 'chao wang',
 'catania',
 'contemporary whimsical',
 'the eight years',
 'paul corsentino',
 'gino',
 'sean tang',
 'chicama',
 'dagwood',
 'bang bar’s',
 'season',
 'pok pok wing',
 '90',
 'joe ng',
 'several months',
 'morels',
 'at least the first two',
 'next winter',
 'sripraphai  ',
 'craftbar',
 ...]

In [175]:
shortlist = stopwords.words('english')+ list(string.digits)+ NYT_stoplist + numbers_stoplist +['dishes', 'dish', 'new', 'sauce', 'made', 'mr.', 'room', 'table', 'would', 'new york', 'york','menu','one','two','three']+new_stop_words

In [176]:
shortlist = list(set(shortlist))

In [177]:
stopwords_list = stopwords.words('english')+ list(string.digits)+ NYT_stoplist + numbers_stoplist + [str(x) for x in range(2020, 99999)]+['dishes', 'dish', 'new', 'sauce', 'made', 'mr.', 'room', 'table', 'would', 'new york', 'york','menu','one','two','three']+new_stop_words+stopped_entities

In [178]:
stopwords_list = list(set(stopwords_list))

In [179]:
stopwords_list

['7882',
 '8245',
 '14088',
 '2833',
 '18339',
 '52309',
 '63564',
 '74987',
 '99222',
 '43413',
 '74921',
 '15007',
 'josh ochoa',
 '54660',
 '67148',
 '30592',
 '68317',
 '8150',
 '86775',
 '72772',
 'meat hook sandwich',
 '3100',
 '496',
 '19513',
 '3367',
 '44024',
 '99931',
 '51179',
 '87571',
 '50739',
 '78435',
 'six days',
 '84456',
 '4231',
 '17311',
 '87092',
 '16048',
 '37558',
 '55892',
 '54855',
 'tocqueville',
 '48334',
 '70484',
 '66420',
 '15361',
 '57144',
 'della rovere',
 '11926',
 '37913',
 '628',
 '3887',
 '33609',
 '60368',
 '54609',
 '61390',
 'his week',
 '76953',
 '89722',
 '71449',
 '41098',
 '94666',
 '72346',
 '80179',
 '28455',
 '49512',
 '89553',
 '33477',
 '50255',
 '69157',
 '26391',
 '63917',
 '95650',
 '25911',
 '78171',
 '8729',
 '22057',
 '58140',
 '88209',
 '72626',
 '28589',
 '61930',
 '59129',
 '94675',
 '7219',
 '33717',
 '56076',
 '62114',
 '79866',
 '14436',
 '69647',
 '2126',
 '60648',
 '75663',
 '17159',
 '50309',
 'williamsburg',
 'the previous decade',
 '56320',
 '12372',
 '39346',
 '3462',
 '47850',
 '40831',
 '18338',
 '73204',
 'at least a week ahead',
 '37008',
 '26057',
 '51495',
 '165',
 '13496',
 '60710',
 '19505',
 '52941',
 '86746',
 '12624',
 '8012',
 '58602',
 '62016',
 '96692',
 '96419',
 '40346',
 '66996',
 '18903',
 '75492',
 '55131',
 '47272',
 '49796',
 '34462',
 '95549',
 '7736',
 '79462',
 '212)929-1800',
 '15894',
 '25609',
 '47451',
 '89612',
 '71292',
 '95397',
 '2780',
 '67337',
 '29208',
 '34708',
 'bolognese',
 '31004',
 '16591',
 '79335',
 '27981',
 '98686',
 '85496',
 '17525',
 '71286',
 '90832',
 '8423',
 '13242',
 '78383',
 '6009',
 '21686',
 '67798',
 '45797',
 '98483',
 '33026',
 '87106',
 '22788',
 'ahn',
 '90138',
 '13162',
 '58801',
 '26115',
 '25260',
 '26438',
 '29403',
 '63286',
 '65710',
 '67300',
 'october —  ',
 '86797',
 '47569',
 '44251',
 '96479',
 '50418',
 '86831',
 '9298',
 '48264',
 '37242',
 '44864',
 '71083',
 '12555',
 '69827',
 '75068',
 '86167',
 '61866',
 '54016',
 '20058',
 'boomshakalaka',
 '39294',
 '19115',
 '21015',
 '49084',
 '55976',
 '63141',
 'christopher rendell',
 '40519',
 '60932',
 '45710',
 '84029',
 '69892',
 '88990',
 '98771',
 '15820',
 '58582',
 '46323',
 '67100',
 '19517',
 '43669',
 '66909',
 '5822',
 '20821',
 '67460',
 '12516',
 '35425',
 '41130',
 '45267',
 '16321',
 '61463',
 '5018',
 '5389',
 '73533',
 '60016',
 '63449',
 '2991',
 '59564',
 '58283',
 '3264',
 '37722',
 '21386',
 '61071',
 '1968',
 '87241',
 '88559',
 'yoo-hoo',
 '77248',
 '13215',
 '67348',
 '31780',
 '11143',
 '83260',
 '25620',
 '52554',
 '64999',
 '67440',
 '38489',
 '69999',
 '76703',
 '86847',
 '18515',
 '96362',
 '16459',
 '68490',
 '44927',
 '9442',
 '17924',
 '27304',
 '57859',
 'gouda',
 'langello',
 '80432',
 '25632',
 '91227',
 '73363',
 'robuchon',
 '31901',
 '49088',
 '77953',
 '31370',
 '19963',
 '3385',
 '10317',
 '61220',
 '86616',
 '93259',
 '2424',
 '50 years ago',
 '3833',
 '29539',
 '54379',
 '14769',
 '33447',
 '53948',
 '82110',
 '52058',
 '70351',
 '23626',
 'this week',
 '89049',
 '56087',
 '25212',
 '55826',
 '11182',
 '13877',
 '51344',
 '78127',
 '96596',
 '53772',
 'fred dexheimer',
 '5446',
 'brunch',
 '74876',
 '56266',
 'buffalo',
 '89230',
 '77872',
 '64546',
 '88508',
 '6572',
 '94586',
 '95071',
 '8287',
 '89750',
 '30565',
 '75644',
 '27452',
 '88723',
 '88992',
 '96301',
 '86875',
 'sardinia',
 '28308',
 '52524',
 '31155',
 '77879',
 '87790',
 '83010',
 '52242',
 '28068',
 '71272',
 '86548',
 '18754',
 '4885',
 '64702',
 '91346',
 '96927',
 '2764',
 '41183',
 '45882',
 '47269',
 '93211',
 '66182',
 '78474',
 '92183',
 '62346',
 '52323',
 '7231',
 '98670',
 '60242',
 '91988',
 'mccartney',
 '24506',
 '68777',
 '55876',
 '13838',
 '95560',
 '9217',
 '24725',
 '26383',
 '19032',
 '89009',
 'toloache',
 '2004',
 'some day',
 '15112',
 '47357',
 '47924',
 '19147',
 '90415',
 '43361',
 '89947',
 '76107',
 '61014',
 'sarasota',
 '1295',
 '20554',
 'about four months ago',
 '74806',
 'estela',
 '88393',
 'barneys',
 '46228',
 '58980',
 '86403',
 '611',
 '77780',
 '87453',
 '62466',
 '34877',
 '54524',
 '46969',
 '55992',
 '31608',
 '1927',
 '65289',
 '68640',
 'surma',
 '74231',
 '19851',
 '10792',
 '12066',
 '47097',
 '19390',
 '30847',
 '48679',
 '79370',
 'meg grace',
 '76539',
 '41780',
 '55390',
 '49971',
 '23244',
 '54247',
 'the same year',
 '40935',
 '89326',
 '3120',
 'nakazawa',
 '33944',
 '27946',
 '68464',
 '48983',
 '81695',
 '77362',
 '7883',
 '94177',
 '50782',
 '72037',
 '84740',
 'judiciously',
 '5810',
 'sri lankan',
 '23489',
 '40320',
 '96984',
 '88708',
 '30772',
 '33270',
 '55064',
 '63018',
 'milk bar',
 '68480',
 '84790',
 '262-4600',
 '84477',
 '36641',
 '25004',
 '69756',
 '40139',
 '0350',
 '69361',
 '82682',
 '12015',
 '98536',
 '9340',
 '1910',
 '70265',
 '77487',
 '55333',
 '12669',
 '86657',
 '2021',
 '72886',
 '77042',
 '35633',
 '99974',
 '33127',
 '19644',
 '40064',
 '1189',
 '24536',
 '51850',
 '60549',
 '45135',
 '52712',
 '53350',
 '73274',
 '47382',
 '82507',
 '37627',
 '64310',
 '38792',
 '19162',
 '87426',
 '212)554-1515',
 '85266',
 '65285',
 '78210',
 '89840',
 '71076',
 'adobo',
 '32573',
 '38540',
 '65882',
 '49063',
 '84569',
 '90145',
 '95345',
 '78525',
 '81111',
 '41763',
 '43395',
 '88078',
 '31943',
 '808',
 '59623',
 '63848',
 '91122',
 'jamie bissonnette',
 '16325',
 '90765',
 '53776',
 '26221',
 '36413',
 '49225',
 '58104',
 '24084',
 '77040',
 '43108',
 '93215',
 '44651',
 '3216',
 '25891',
 '35100',
 '30710',
 '32487',
 '67749',
 '92521',
 '25174',
 '42564',
 '32197',
 '74257',
 '91786',
 '47953',
 '59153',
 '94557',
 '99591',
 '38653',
 '21096',
 '77694',
 '32131',
 '98812',
 '47867',
 '55671',
 '76623',
 '19981',
 'guan fu-style',
 '15984',
 '62022',
 '95678',
 '46847',
 '16335',
 '46202',
 'the first half',
 '17456',
 '11174',
 '61972',
 '63586',
 '82298',
 '41847',
 '14159',
 '65481',
 '82342',
 '25323',
 '76800',
 '23429',
 '47005',
 '3012',
 '58934',
 '15866',
 '35396',
 '86545',
 '41801',
 'ortúzar',
 '18193',
 '95507',
 '1967',
 '63261',
 '49711',
 'doug psaltis',
 '99491',
 '35296',
 '2830',
 '16196',
 '74665',
 '99624',
 '74661',
 '41244',
 '79233',
 '31824',
 '16082',
 '54502',
 '17368',
 '10872',
 '21076',
 'jason neroni',
 '69888',
 '70922',
 '30726',
 '70613',
 '2093',
 '3701',
 '23938',
 '11268',
 '54612',
 '94079',
 '89516',
 '16267',
 '38346',
 '77367',
 '10866',
 '75349',
 '48327',
 '19950',
 '22053',
 '44855',
 '59540',
 '68801',
 '76634',
 '11656',
 '48454',
 '72105',
 '61638',
 '9846',
 '62209',
 '95862',
 '43299',
 '63746',
 '46408',
 '60868',
 '71559',
 '4014',
 '60353',
 '35550',
 '19230',
 '83776',
 '13265',
 '93807',
 '85314',
 '46303',
 '42499',
 '1125',
 '47635',
 '41131',
 '80332',
 '89969',
 '44204',
 'the next two months',
 '67180',
 '7233',
 '40246',
 '80032',
 '4286',
 '62474',
 '26603',
 '15295',
 '71216',
 '16485',
 '55221',
 '18529',
 '54659',
 '18585',
 '32923',
 '40450',
 '26571',
 'more than a year ago',
 '65829',
 '64863',
 '16071',
 '7901',
 '94578',
 '64185',
 '77066',
 '21889',
 '70209',
 '66987',
 '1289',
 '27621',
 '74999',
 '70522',
 '85224',
 'hatsuhana',
 '86589',
 '44929',
 '88549',
 '15080',
 '85632',
 '43256',
 '57394',
 '52268',
 '26818',
 '19161',
 '33145',
 '93915',
 '95',
 '36760',
 '70822',
 '3166',
 '75149',
 '93712',
 '63127',
 '79199',
 '8510',
 '61420',
 '77652',
 '62824',
 '9392',
 '85717',
 '9195',
 '82287',
 '21009',
 '21109',
 '5-o’clock',
 '53069',
 '42641',
 'caribs',
 '97443',
 '12112',
 '30799',
 '804',
 '14514',
 '76750',
 '20729',
 '31589',
 '34037',
 '63626',
 '83464',
 '5473',
 '20930',
 'jabberwocky',
 '2001',
 '28327',
 '43447',
 '93219',
 '30043',
 '3106',
 '7859',
 '13969',
 '31791',
 '94768',
 '99708',
 '15062',
 '79845',
 '42580',
 '81342',
 'ssam bar’s',
 '77068',
 '265',
 'bar sardine',
 '852-8490',
 '93123',
 '66349',
 '22243',
 '53966',
 'winter',
 '81778',
 '46558',
 '22013',
 '26672',
 '9865',
 '47444',
 '64682',
 '71922',
 '90045',
 '32766',
 '30673',
 '3792',
 '17905',
 '87516',
 '61139',
 '81248',
 '79842',
 '320',
 '76815',
 '19033',
 '45836',
 '6296',
 '16712',
 '83936',
 '49691',
 '28458',
 '67128',
 '11466',
 '56246',
 '26891',
 '7939',
 '45302',
 '21767',
 '98535',
 '25669',
 '14862',
 '77046',
 'the start of this year',
 '54556',
 '67519',
 '24165',
 'graydon carter',
 '5962',
 '4126',
 '96685',
 '51714',
 '66279',
 '24245',
 '93768',
 '84260',
 'more than 100',
 'williams',
 '61061',
 '28995',
 '66419',
 '86155',
 '59448',
 '93957',
 '23254',
 '58902',
 '72897',
 '4109',
 '51504',
 '56830',
 '38279',
 '6395',
 '88118',
 '93811',
 '69273',
 '20507',
 '81080',
 '36300',
 '13600',
 '91161',
 'decades',
 '61402',
 '31614',
 '52608',
 '52140',
 '30527',
 '25269',
 '46613',
 '66977',
 '19023',
 '23333',
 '70319',
 '13840',
 '44656',
 '61810',
 '30086',
 'sauvignon blanc',
 '1479',
 'keens steakhouse  ',
 '93492',
 '26002',
 '60701',
 '41536',
 '57344',
 '66462',
 'delaney',
 '67119',
 'led zeppelin',
 '57203',
 '99257',
 '6498',
 '92576',
 'a hundred years',
 '19668',
 '20437',
 '45812',
 '29128',
 '70993',
 '66179',
 '79020',
 '92466',
 '23597',
 '7453',
 '76154',
 '72391',
 '82372',
 '52940',
 '12124',
 '47802',
 'yellow submarine',
 '41109',
 '67338',
 '53475',
 '21802',
 '46946',
 'canora',
 '28932',
 '52802',
 '68201',
 '38982',
 '52218',
 '84839',
 '85177',
 '18023',
 '57763',
 '22129',
 '30956',
 '53418',
 '5572',
 '57892',
 '85110',
 'west drive',
 '62797',
 '6931',
 '91039',
 '95685',
 'a number of months',
 '94892',
 '63142',
 '10061',
 '5571',
 '27353',
 '43252',
 '51306',
 '3162',
 '64983',
 '81972',
 '7499',
 '18467',
 '81634',
 'gastropub',
 '23060',
 'just 18 months',
 '53690',
 '65683',
 '190',
 '14747',
 'i',
 '43930',
 '3020',
 '13395',
 '1164',
 '65920',
 '79207',
 '64987',
 'james’s',
 'frogasms',
 '40115',
 '44182',
 '67403',
 '97097',
 '48954',
 '21562',
 '27578',
 '21649',
 '68890',
 '1334',
 '86382',
 '24172',
 '69920',
 '46051',
 '1706',
 '60438',
 '73940',
 '44466',
 '74647',
 '83128',
 '83254',
 '23271',
 '41436',
 '44706',
 '55',
 '99109',
 '54622',
 '28915',
 '82001',
 '52402',
 '42046',
 '84320',
 '57915',
 '98064',
 '1973',
 '10155',
 '26641',
 '2238',
 '23315',
 '28832',
 '45571',
 '84011',
 '63775',
 'renaissance tuscany',
 '92530',
 'don peppe',
 '17435',
 '10430',
 '38277',
 '72738',
 '33728',
 '74522',
 '6069',
 '34742',
 '29097',
 '37773',
 '11741',
 '5913',
 ...]

# More DF Cleaning

In [180]:
from nltk.tokenize import WhitespaceTokenizer

from nltk.stem import LancasterStemmer, SnowballStemmer, RegexpStemmer, WordNetLemmatizer 

stemmer = SnowballStemmer('english')

lemmer = WordNetLemmatizer()

token = WhitespaceTokenizer()


def make_tokens(review, token):
    tokenized_review = token.tokenize(review)
    return tokenized_review

def lower(tokenized_review):
    lowercase_tokens = [token.lower() for token in tokenized_review]
    return lowercase_tokens

def remove_punc(lowercase_tokens):
    stripped_tokens = [token.translate(str.maketrans('', '', string.punctuation)) for token in lowercase_tokens]
    return stripped_tokens

def remove_stopwords(stripped_tokens, stopwords_list):
    stopped_tokens = [token for token in stripped_tokens if token not in stopwords_list]
    return stopped_tokens

def stem_tokens(stopped_tokens, stemmer):
    stems = [stemmer.stem(token) for token in stopped_tokens]
    return stems

def lem_tokens(stopped_tokens, lemmer):
    lems = [lemmer.lemmatize(token) for token in stopped_tokens]
    return lems

def normalize(review, stopword_list, lemmer, token):
    tokens = make_tokens(review, token)
    lower_tokens = lower(tokens)
    no_punc = remove_punc(lower_tokens)
    stopped = remove_stopwords(no_punc, stopword_list)
    lems = lem_tokens(stopped, lemmer)
    return lems

In [181]:
df['tokens'] = df['review'].apply(lambda x: normalize(x, shortlist, lemmer, token))

In [182]:
# Number of unique words
df['vocabulary'] = df['tokens'].apply(lambda x: len(set(x)))

In [183]:
# Number of total words
# df['num_tokens'] = df['tokens'].apply(lambda x: len(x))

In [184]:
df.drop(['cuisine','recommendations'], axis=1, inplace=True)

df = df[(df['reviewer'] == 'Pete Wells')|(df['reviewer'] == 'Frank Bruni')|(df['reviewer'] == 'Sam Sifton')]

In [185]:
def hood_to_area(hood):
    if hood in ['West Village', 'East Village', 'TriBeCa','SoHo', 'Lower East Side', 'Greenwich Village',
                'NoHo', 'Nolita', 'Financial District', 'Gramercy Park', 'Chinatown', 'Union Square', 
                'Battery Park City', 'Meatpacking District','NoLIta', 'Little Italy', 'Hudson Square','Fulton Ferry']:
        return 'Downtown'
    elif hood in ['Midtown', 'Midtown East', 'Midtown South', 'Times Square Theatre District', 'Kips Bay',
                  'Murray Hill', 'Koreatown', 'Hudson Yards', 'Chelsea', 'Flatiron district','Flatiron', 
                  'NoMad', 'Columbus Circle']:
        return 'Midtown'
    elif hood in ['Upper East Side', 'Upper West Side', 'Harlem']:
        return 'Uptown'
    
    elif hood in ['Williamsburg','Clinton', 'Park Slope','Greenpoint', 'Gowanus','Prospect Heights', 'Red Hook', 
                  'Carroll Gardens', 'Bushwick', 'Crown Heights', 'Cobble Hill', 'Boerum Hill', 'Fort Greene',
                  'Park Slope North', 'Columbia Street Waterfront District', 'Coney Island', 'Brooklyn Heights', 
                  'Bay Ridge','Ditmas', 'Downtown Brooklyn','Sheepshead Bay', 'Midwood']:
        
        return 'Brooklyn'
    else:
        
        return 'Other'

In [186]:
df['area'] = df['neighborhood'].apply(lambda x: hood_to_area(x))

In [187]:
df.head()

,name,rating,review_date,reviewer,review_url,neighborhood,review,headline,tokens,vocabulary,area
0,Hanon,★★,2019-05-21,Pete Wells,https://www.nytimes.com/2019/05/21/dining/hano...,Williamsburg,"Hanon, a new udon shop in Williamsburg, Brookl...","Udon, Innovated for Your Pleasure","[hanon, udon, williamsburg, brooklyn, produced...",416,Brooklyn
1,Del Posto,★★★,2019-05-14,Pete Wells,https://www.nytimes.com/2019/05/14/dining/del-...,Chelsea,"More than a year ago, I was on the verge of re...","In Del Posto’s New Era, Cuisine and Service Ar...","[ago, verge, reviewing, del, posto, news, inte...",606,Midtown
2,The Freakin Rican,★,2019-05-07,Pete Wells,https://www.nytimes.com/2019/05/07/dining/the-...,Astoria,It is true that the bacalaitos at the Freakin ...,Pasteles and Two Kinds of Fried Chicken at the...,"[true, bacalaitos, freakin, rican, astoria, qu...",471,Other
3,Wayan,★★,2019-04-23,Pete Wells,https://www.nytimes.com/2019/04/23/dining/waya...,NoLIta,If you ate at Spice Market before it closed tw...,Tapping a Family Connection to Indonesian Food,"[spice, market, closed, year, ago, experience,...",425,Downtown
4,Niche,★,2019-04-16,Pete Wells,https://www.nytimes.com/2019/04/16/dining/nich...,Lower East Side,"In 2012 and 2013, when people were lining up a...",Ramen Without Broth? A Chef Doubles Down on a ...,"[people, lining, smorgasburg, houston, whole, ...",414,Downtown

In [188]:
df.shape

(615, 11)

In [189]:
df.describe()

       vocabulary
count  615.000000
mean   467.162602
std     44.873106
min    291.000000
25%    437.000000
50%    464.000000
75%    492.000000
max    666.000000

# Sentiment Analysis

In [190]:
af = Afinn()

In [191]:
# df['afinn_score'] = df['review'].apply(lambda x: af.score(x))

In [192]:
# plt.figure(figsize=(12,8))
# sns.boxplot(df['rating'], df['afinn_score'], palette ='Set3', order= ['0 star','★','★★','★★★'])

In [193]:
from nltk import sent_tokenize

def blob_polarity(review):
    
    polarity = []
    
    for sentence in sent_tokenize(review):
        polarity.append(af.score(sentence))
    
    avg_pol = np.mean(polarity)
    min_pol = np.min(polarity)
    max_pol = np.max(polarity)
    std_pol = np.std(polarity)
    
    return avg_pol, min_pol, max_pol, std_pol

def add_blob_pol(df):
    
    df['af_avg_pol'] = df['review'].apply(lambda x: blob_polarity(x)[0])
    df['af_min_pol'] = df['review'].apply(lambda x: blob_polarity(x)[1])
    df['af_max_pol'] = df['review'].apply(lambda x: blob_polarity(x)[2])
    df['af_std_pol'] = df['review'].apply(lambda x: blob_polarity(x)[3])
    
#     df['sentiment'] = np.where(df['blob_avg_pol'] > 0.05, 1, 0)
        
    return df

df = add_blob_pol(df)

In [194]:
df.head()

,name,rating,review_date,reviewer,review_url,neighborhood,review,headline,tokens,vocabulary,area,af_avg_pol,af_min_pol,af_max_pol,af_std_pol
0,Hanon,★★,2019-05-21,Pete Wells,https://www.nytimes.com/2019/05/21/dining/hano...,Williamsburg,"Hanon, a new udon shop in Williamsburg, Brookl...","Udon, Innovated for Your Pleasure","[hanon, udon, williamsburg, brooklyn, produced...",416,Brooklyn,0.886364,-2.0,6.0,1.654414
1,Del Posto,★★★,2019-05-14,Pete Wells,https://www.nytimes.com/2019/05/14/dining/del-...,Chelsea,"More than a year ago, I was on the verge of re...","In Del Posto’s New Era, Cuisine and Service Ar...","[ago, verge, reviewing, del, posto, news, inte...",606,Midtown,0.716216,-6.0,8.0,2.016957
2,The Freakin Rican,★,2019-05-07,Pete Wells,https://www.nytimes.com/2019/05/07/dining/the-...,Astoria,It is true that the bacalaitos at the Freakin ...,Pasteles and Two Kinds of Fried Chicken at the...,"[true, bacalaitos, freakin, rican, astoria, qu...",471,Other,0.865385,-2.0,5.0,1.593603
3,Wayan,★★,2019-04-23,Pete Wells,https://www.nytimes.com/2019/04/23/dining/waya...,NoLIta,If you ate at Spice Market before it closed tw...,Tapping a Family Connection to Indonesian Food,"[spice, market, closed, year, ago, experience,...",425,Downtown,0.750000,-4.0,5.0,1.854050
4,Niche,★,2019-04-16,Pete Wells,https://www.nytimes.com/2019/04/16/dining/nich...,Lower East Side,"In 2012 and 2013, when people were lining up a...",Ramen Without Broth? A Chef Doubles Down on a ...,"[people, lining, smorgasburg, houston, whole, ...",414,Downtown,0.387755,-4.0,4.0,1.536180

In [195]:
# sent_tokens = sent_tokenize(df['review'][0])

In [196]:
# polarity = [af.score(x) for x in sent_tokens]

In [197]:
# list(zip(sent_tokens, polarity))

In [198]:
# sum(polarity)

In [199]:
# tokens0 = []
# tokens1 = []
# tokens2 = []
# tokens3 = []

# for i in range(0,len(df)):
#     if df.iloc[i]['rating'] == '0 star':
#         tokens0.append(df.iloc[i]['review'])
#     elif df.iloc[i]['rating'] == '★':
#         tokens1.append(df.iloc[i]['review'])
#     if df.iloc[i]['rating'] == '★★':
#         tokens2.append(df.iloc[i]['review'])
#     if df.iloc[i]['rating'] == '★★★':
#         tokens3.append(df.iloc[i]['review'])

In [200]:
# vec0 = TfidfVectorizer(stop_words=stopwords_list_3,preprocessor=lambda x: stemmer.stem(x), ngram_range=(1,3),max_features = 20)
# vec1 = TfidfVectorizer(stop_words=stopwords_list_3,preprocessor=lambda x: stemmer.stem(x), ngram_range=(1,3),max_features = 20)
# vec2 = TfidfVectorizer(stop_words=stopwords_list_3,preprocessor=lambda x: stemmer.stem(x), ngram_range=(1,3),max_features = 20)
# vec3 = TfidfVectorizer(stop_words=stopwords_list_3,preprocessor=lambda x: stemmer.stem(x), ngram_range=(1,3),max_features = 20)

In [201]:
# vec0 = TfidfVectorizer(stop_words=stopwords_list,ngram_range=(1,3),max_features = 20)
# vec1 = TfidfVectorizer(stop_words=stopwords_list,ngram_range=(1,3),max_features = 20)
# vec2 = TfidfVectorizer(stop_words=stopwords_list,ngram_range=(1,3),max_features = 20)
# vec3 = TfidfVectorizer(stop_words=stopwords_list,ngram_range=(1,3),max_features = 20)

In [202]:
# tfidf0 = vec0.fit_transform(tokens0)
# tfidf1 = vec1.fit_transform(tokens1)
# tfidf2 = vec2.fit_transform(tokens2)
# tfidf3 = vec3.fit_transform(tokens3)

In [203]:
# tfidf_df0 = pd.DataFrame(tfidf0.toarray(), columns=vec0.get_feature_names())
# tfidf_df1 = pd.DataFrame(tfidf1.toarray(), columns=vec1.get_feature_names())
# tfidf_df2 = pd.DataFrame(tfidf2.toarray(), columns=vec2.get_feature_names())
# tfidf_df3 = pd.DataFrame(tfidf3.toarray(), columns=vec3.get_feature_names())

# TF-IDF Analysis

In [204]:
tfidf_total = TfidfVectorizer(stop_words=stopwords_list)

In [205]:
tfidf_total.fit(df['review'])

/anaconda3/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['0776', '0898', '10downingnyc', '10th', '11th', '15eastrestaurant', '15th', '18th', '190a', '1920s', '1940s', '1990s', '2000s', '20s', '20th', '21st', '29th', '30a', '32nd', '39th', '41st', '42nd', '44th', '55th', '58th', '60s', '64th', '80th', '81st', '9th', 'aaron', 'aarón', 'ababa', 'abby', 'abdellah', 'abela', 'abraham', 'abram', 'abu', 'aby', 'accarrino', 'accepted', 'acheson', 'adam', 'adams', 'addeo', 'addis', 'adlgasser', 'adolf', 'africa', 'afrim', 'age', 'agostino', 'ahead', 'ahram', 'ai', 'aidala', 'aidan', 'ailey', 'aizpitarte', 'ajna', 'akira', 'alam', 'alana', 'albert', 'aldo', 'alessandro', 'alevras', 'alex', 'alexander', 'alexandra', 'alexandria', 'alfred', 'alicia', 'alina', 'alistair', 'allison', 'almond', 'almost', 'alphart', 'although', 'altro', 'alvarez', 'alvin', 'amadou', 'amanda', 'amane', 'amato', 'amatriciana', 'ambrose', 'americain', 'american', 'amico', 'amis', 'ampudia', 'amy', 'anderson', 'andre', 'andrea', 'andrew', 'andrews', 'andrés', 'andy', 'angela', 'angeles', 'angelica', 'angelo', 'angie', 'angulo', 'anita', 'ann', 'annie', 'another', 'ansel', 'antebellum', 'anti', 'antoine', 'antonella', 'antunès', 'anytime', 'aperitifs', 'apicella', 'appended', 'appetizers', 'apple', 'approximately', 'aqueduct', 'araki', 'architects', 'arensbourg', 'aretha', 'aristocrat', 'armandino', 'arnaud', 'arne', 'arno', 'arnold', 'around', 'art', 'arthur', 'arturo', 'asean', 'ash', 'ashkinaze', 'ashlee', 'ashley', 'ashton', 'asia', 'asimov', 'astaire', 'astonishing', 'atelier', 'athénée', 'atlantic', 'atsushi', 'au', 'aude', 'audrey', 'aug', 'augustined', 'aunt', 'aurora', 'austin', 'avec', 'avenue', 'avenues', 'aviram', 'aviv', 'avon', 'award', 'ax', 'azabu', 'azzolina', 'babe', 'babu', 'bac', 'baca', 'bad', 'baechler', 'baekjeong', 'bagger', 'bahn', 'bailey', 'bakery', 'bako', 'ballet', 'balls', 'balouma', 'ban', 'band', 'bang', 'bank', 'bao', 'bar', 'barack', 'barak', 'barbara', 'barefoot', 'bari', 'barkin', 'barksdale', 'barquero', 'barry', 'bart', 'barts', 'barça', 'base', 'basque', 'basquiat', 'battery', 'baum', 'baumbach', 'bay', 'bayless', 'bbq', 'beach', 'bean', 'beard', 'bearman', 'bears', 'beatrice', 'beau', 'bedford', 'beedle', 'beers', 'behold', 'beischer', 'belinda', 'bell', 'belle', 'belushi', 'benkritly', 'bensimon', 'benson', 'ber', 'beran', 'bergad', 'bergman', 'bergquist', 'berle', 'berliners', 'bermejos', 'bernamoff', 'bernardin', 'bernardino', 'bertinetti', 'bertrand', 'beside', 'best', 'bethany', 'better', 'beuys', 'bev', 'beverly', 'beyer', 'bhardwaj', 'bianca', 'bickford', 'bicocchi', 'bidder', 'bieber', 'bien', 'biggie', 'bill', 'billy', 'bini', 'binnie', 'bird', 'birdie', 'bissell', 'bittman', 'bittner', 'bjoern', 'black', 'blaine', 'blair', 'blanc', 'blanco', 'blau', 'blaue', 'blinder', 'blistering', 'bloch', 'blomkvist', 'bloody', 'blue', 'blumlo', 'bo', 'bob', 'boehner', 'boer', 'boerum', 'boettcher', 'bogle', 'boh', 'boi', 'bois', 'boissy', 'bolonat', 'bolz', 'bon', 'bond', 'bonnie', 'boone', 'boozy', 'bordier', 'bornard', 'boru', 'bosta', 'bounce', 'bourdain', 'bourdonnec', 'bourne', 'bouscasse', 'bowen', 'bowie', 'box', 'boy', 'boyardee', 'boyles', 'bozzi', 'brad', 'bradford', 'branca', 'branch', 'branded', 'brando', 'brandon', 'breidenthal', 'brendan', 'brent', 'bret', 'bretania', 'brett', 'breuer', 'bridge', 'bridges', 'brighton', 'british', 'britney', 'britton', 'broadway', 'broceaux', 'broheim', 'bromberg', 'brooke', 'brooks', 'brotherly', 'browne', 'bruce', 'brunet', 'brut', 'bryant', 'bucatini', 'buchanan', 'buckley', 'buddhist', 'buffett', 'bugler', 'bukhara', 'bul', 'buns', 'bunshaft', 'burdett', 'burn', 'burros', 'buscaglione', 'bush', 'busquet', 'busy', 'butchery', 'buy', 'byas', 'bye', 'cabot', 'cacciucco', 'cacophonous', 'cadolini', 'cage', 'caiola', 'caitlin', 'cajozzo', 'cajun', 'cal', 'calderón', 'caledonia', 'calek', 'calif', 'call', 'calvin', 'caminos', 'campbell', 'campos', 'canard', 'canche', 'candy', 'cannelloni', 'canteen', 'cantina', 'cape', 'caravelle', 'caring', 'carl', 'carlo', 'carlos', 'carlton', 'carmen', 'carmichael', 'caro', 'carole', 'carolyn', 'carota', 'carreiro', 'carry', 'caryn', 'casella', 'caster', 'castronovo', 'catalan', 'catalanes', 'catherine', 'cathy', 'cecchi', 'cel', 'celebrites', 'celentano', 'center', 'certain', 'ceruzzi', 'cesare', 'cezanne', 'chad', 'champagne', 'chandler', 'changing', 'chao', 'chapel', 'chapo', 'charentes', 'charlemagne', 'charmaine', 'charred', 'chartogne', 'chat', 'chatwal', 'cheese', 'cheever', 'chekroun', 'cheng', 'cheol', 'cherche', 'cherry', 'chez', 'chi', 'chiang', 'chickenbone', 'chien', 'chihuly', 'chik', 'chikara', 'child', 'chine', 'chinese', 'chip', 'cho', 'chogyam', 'choi', 'chomp', 'chong', 'chowder', 'chris', 'christian', 'christiane', 'christie', 'christina', 'christopher', 'chua', 'chuck', 'chung', 'ciaro', 'cindy', 'cinnamon', 'cio', 'cirque', 'cisneros', 'citi', 'citron', 'city', 'cka', 'claes', 'clagnaz', 'claiborne', 'clapton', 'clare', 'clarisa', 'clarke', 'classico', 'classifying', 'claus', 'climat', 'clock', 'clooney', 'clos', 'close', 'club', 'clumsier', 'co', 'cobble', 'coco', 'cod', 'coffee', 'coke', 'cold', 'cole', 'coleman', 'colin', 'colleen', 'college', 'collon', 'collucci', 'colmado', 'colo', 'colonial', 'colton', 'columbia', 'com', 'comandatore', 'coming', 'comptoir', 'con', 'conch', 'condé', 'confit', 'conlon', 'conn', 'connaughton', 'connell', 'conran', 'contemporary', 'conti', 'convention', 'cookin', 'coppa', 'coq', 'corbett', 'corison', 'corleone', 'cornelius', 'corner', 'cornwell', 'corpse', 'correction', 'corset', 'corwin', 'cory', 'corzine', 'cosby', 'coscuella', 'costa', 'costello', 'coucou', 'country', 'county', 'couple', 'courteney', 'courtney', 'cox', 'coze', 'crab', 'cracker', 'craig', 'creamsicles', 'cregan', 'crew', 'cristina', 'crocker', 'croque', 'crosley', 'crosson', 'crowell', 'cubbage', 'cube', 'cue', 'cuevas', 'cuit', 'current', 'curry', 'cutler', 'cyndi', 'cynthia', 'cyrus', 'czech', 'cá', 'cárdenas', 'césar', 'côtes', 'da', 'dafoe', 'dagorn', 'daguin', 'daisuke', 'daisy', 'dale', 'dame', 'damian', 'damon', 'dana', 'dang', 'danger', 'daniele', 'danieli', 'danish', 'date', 'daughters', 'dauphin', 'davis', 'de', 'dead', 'deadish', 'dean', 'deangelis', 'dear', 'dearden', 'debbie', 'deborah', 'dec', 'decarlo', 'decoesque', 'deegan', 'deep', 'def', 'defir', 'dekar', 'del', 'delight', 'delightful', 'delights', 'dell', 'della', 'delmaestro', 'delpiano', 'delroy', 'demand', 'demarco', 'demodica', 'deniro', 'dennis', 'denoyer', 'depardieu', 'dependent', 'depp', 'der', 'derby', 'derick', 'design', 'deuce', 'deus', 'deux', 'devils', 'devin', 'devlin', 'dexheimer', 'dhabi', 'dhandu', 'di', 'diamond', 'diana', 'diavolo', 'dickinson', 'didner', 'diego', 'diet', 'different', 'diller', 'dimaggio', 'dimarzo', 'dimitri', 'din', 'dinette', 'dinsmore', 'dinty', 'diot', 'dirt', 'disappointing', 'disco', 'discount', 'distefano', 'ditmas', 'dixon', 'dizzy', 'dna', 'dobias', 'doge', 'dojo', 'doka', 'dolly', 'dom', 'domaines', 'domenico', 'dominique', 'donahue', 'donald', 'donatella', 'donatello', 'donna', 'donohoe', 'doones', 'dorian', 'doris', 'dory', 'dos', 'doug', 'douglas', 'downey', 'doña', 'draper', 'dreams', 'drew', 'drive', 'du', 'duane', 'duangjai', 'dubbeldam', 'duffour', 'dumpling', 'dunlavey', 'dunlop', 'duque', 'dury', 'dutchess', 'dwyane', 'dynasty', 'dû', 'eames', 'earl', 'earliest', 'early', 'earthy', 'east', 'eastern', 'easton', 'eben', 'eberhardt', 'eddie', 'eder', 'edna', 'edouardo', 'eduard', 'eduardo', 'edward', 'eero', 'efi', 'eggleston', 'eiffel', 'eighteen', 'eighty', 'eileen', 'el', 'elee', 'elena', 'elina', 'elise', 'elishia', 'elixir', 'elle', 'ellen', 'elliot', 'ellis', 'ellison', 'ellner', 'ellsworth', 'elwyn', 'emanuel', 'emelie', 'emilia', 'emiliano', 'emilie', 'emily', 'emma', 'emmanuel', 'emmeline', 'emmy', 'empire', 'encouraging', 'end', 'endeavor', 'ended', 'enebro', 'english', 'enrique', 'entire', 'entrecôte', 'entrecôtes', 'ephron', 'epstein', 'era', 'erica', 'erik', 'erika', 'erin', 'eskimo', 'esnault', 'esquina', 'essential', 'est', 'estiatorio', 'estimated', 'et', 'eubanks', 'eunjo', 'eva', 'evan', 'every', 'extraordinary', 'extreme', 'fa', 'fabian', 'fabián', 'fai', 'fair', 'falai', 'falcinelli', 'fall', 'falls', 'familie', 'famous', 'fanfara', 'fara', 'farias', 'farm', 'farmstand', 'fashion', 'feb', 'fedeli', 'federman', 'feeney', 'fen', 'fernandez', 'fernando', 'fernet', 'ferran', 'ferrarin', 'ferreira', 'fette', 'fettuccini', 'fewer', 'fichtman', 'field', 'fifth', 'fifty', 'finn', 'finney', 'finster', 'fiorello', 'fiorentino', 'firecracker', 'fish', 'fishbar', 'fisherie', 'fishs', 'fitzgerald', 'fla', 'flandres', 'flavor', 'fleishers', 'fleming', 'flora', 'florent', 'floyd', 'flyer', 'fog', 'following', 'fonda', 'ford', 'formative', 'forno', 'fort', 'fortress', 'fortunato', 'forty', 'fowler', 'fra', 'francesco', 'francis', 'francisco', 'franco', 'françois', 'frauneder', 'fred', 'fredrik', 'free', 'freeman', 'freemans', 'freshen', 'fried', 'frieda', 'frog', 'frédéric', 'fu', 'fuchsia', 'fujita', 'fuku', 'full', 'fulton', 'fun', 'fung', 'furstenberg', 'furstinshow', 'gabe', 'gable', 'gabriel', 'gabriele', 'gabrielle', 'gadi', 'gaghan', 'gagnaire', 'galatoire', 'galen', 'game', 'gamins', 'gangyi', 'gans', 'ganzi', 'garanca', 'garcelon', 'garden', 'gardens', 'garett', 'garlic', 'garner', 'garret', 'gary', 'gasdon', 'gassmann', 'gastón', 'gatos', 'gattopardo', 'gaurav', 'gay', 'gehry', 'gelato', 'gems', 'gen', 'gene', 'genevieve', 'genghis', 'genuine', 'geoffrey', 'georg', 'george', 'georges', 'georgette', 'gerais', 'gerald', 'geraldo', 'gerardo', 'germain', 'germon', 'geronimas', 'gets', 'ghaya', 'gherardo', 'giada', 'giancarlo', 'gianfranco', 'gianluigi', 'giant', 'gigi', 'giglio', 'gil', 'gilbert', 'gilles', 'gillespie', 'gineste', 'ginevra', 'ginjo', 'ginsberg', 'giorgio', 'giovanni', 'giovanny', 'giraldi', 'girl', 'giulia', 'giuseppe', 'given', 'glaser', 'glazier', 'glen', 'glenn', 'glosserman', 'gnazzo', 'godfrey', 'goerner', 'goi', 'gol', 'golbabae', 'gold', 'goldberg', 'goldfarb', 'goldsmith', 'goler', 'golightly', 'good', 'goode', 'gooseberry', 'gordon', 'gore', 'gosling', 'goto', 'gotti', 'governors', 'govind', 'graillot', 'gran', 'grassi', 'grateful', 'greeley', 'greene', 'greener', 'greens', 'greg', 'gregg', 'grenouille', 'grey', 'griffou', 'grocery', 'grodin', 'grosso', 'grunert', 'guaitolini', 'gualtiero', 'guan', 'guarducci', 'guest', 'gui', 'guiberteau', 'guido', 'gummi', 'gundy', 'gunnar', 'gurley', 'gurvich', 'gut', 'gutenberg', 'guterson', 'guy', 'guérard', 'guérin', 'gwyneth', 'gwynnett', 'gyllenhaal', 'gérard', 'günter', 'haar', 'habana', 'hagar', 'haim', 'hakan', 'hakubai', 'halle', 'halles', 'ham', 'hamawi', 'hamlisch', 'hampton', 'hanley', 'hannock', 'hansen', 'hao', 'happy', 'hara', 'hard', 'harold', 'hart', 'hasegawa', 'hass', 'hastreiter', 'hathaway', 'hattie', 'hauske', 'haut', 'hava', 'havels', 'haver', 'havlicek', 'hawaiian', 'hawkins', 'hayes', 'hazan', 'head', 'heather', 'heel', 'heidy', 'heights', 'heigl', 'helen', 'hemant', 'hendrix', 'henley', 'hennings', 'henri', 'herbivorous', 'herbst', 'hereford', 'herradura', 'hiatt', 'hicks', 'higgins', 'high', 'hill', 'hills', 'hip', 'hiro', 'hiroki', 'hiromi', 'hock', 'hodgson', 'holiday', 'holidays', 'holly', 'holzer', 'homer', 'hometown', 'homma', 'hong', 'honmura', 'hoo', 'hook', 'hooni', 'hoot', 'hootie', 'hopson', 'hot', 'hotel', 'houlbert', 'house', 'howlin', 'hoy', 'hoyle', 'hristo', 'hubei', 'hubert', 'huck', 'hudson', 'hugh', 'hughes', 'hugo', 'hugue', 'hull', 'humboldt', 'hungry', 'hunterdon', 'hurricane', 'huxtable', 'hwa', 'hyun', 'hôtel', 'iacopo', 'ian', 'ice', 'ichikawa', 'iconomou', 'idan', 'ignacio', 'ii', 'il', 'imai', 'impero', 'inaki', 'indian', 'ingalls', 'ingber', 'inn', 'innes', 'inside', 'instead', 'iron', 'isaac', 'isao', 'ishii', 'island', 'islanders', 'italian', 'iuzzini', 'ivan', 'ivory', 'ja', 'jackie', 'jackson', 'jacobeit', 'jacobsen', 'jacqueline', 'jacques', 'jaeckle', 'jagger', 'jai', 'jaime', 'jamie', 'jan', 'jansen', 'janwillem', 'jared', 'jarred', 'jasmin', 'javier', 'jay', 'jayantha', 'jean', 'jeannie', 'jeff', 'jeffrey', 'jen', 'jenga', 'jenkins', 'jenny', 'jeong', 'jereme', 'jeremiah', 'jeremy', 'jermann', 'jersey', 'jess', 'jesse', 'jessica', 'jesus', 'jesús', 'jewel', 'jews', 'ji', 'jill', 'jimi', 'jimmy', 'jin', 'jo', 'joan', 'joaquin', 'jocelyn', 'jodi', 'joey', 'johann', 'johanne', 'john', 'johnny', 'jolly', 'jon', 'jonathan', 'jonathon', 'jones', 'joo', 'jor', 'jorge', 'jose', 'joseph', 'josh', 'joshua', 'josé', 'jr', 'juan', 'jude', 'judgment', 'judson', 'julia', 'julian', 'julie', 'julien', 'juliette', 'julius', 'julivert', 'jun', 'jung', 'junghyun', 'jungjin', 'junior', 'junmai', 'justin', 'juul', 'ka', 'kai', 'kalaboke', 'kalemkiarian', 'kaliqani', 'kamel', 'kaminsky', 'kanlaya', 'kantaro', 'kanye', 'kao', 'karagodina', 'kardashian', 'karen', 'karim', 'karl', 'karmel', 'kat', 'katchor', 'katherine', 'katie', 'katy', 'katz', 'kazunori', 'keaton', 'keeffe', 'keh', 'kelly', 'kendrick', 'kendy', 'kenji', 'kennedy', 'kenny', 'kent', 'kenyan', 'kerry', 'keung', 'khai', 'khan', 'khanna', 'khe', 'khunn', 'kidman', 'kiely', 'kihlstrom', 'killeen', 'kimberly', 'kincaid', 'kings', 'kips', 'kirschen', 'kissinger', 'kit', 'kitmahawong', 'klein', 'kleinman', 'klinger', 'klitschko', 'knapp', 'kochilas', 'koji', 'kola', 'kom', 'konkan', 'koons', 'koontz', 'koren', 'korin', 'kostow', 'kravis', 'kretchmer', 'kreuz', 'kris', 'krispies', 'kristen', 'kruger', 'krystof', 'kuban', 'kubla', 'kublai', 'kulok', 'kuniaki', 'kuntz', 'kurosawa', 'kurt', 'kuruma', 'kus', 'kushner', 'kwai', 'kwan', 'ky', 'kyo', 'kyu', 'kyung', 'labor', 'laden', 'lady', 'lae', 'laetitia', 'lafrieda', 'laird', 'laiskonis', 'lajaunie', 'lakshmi', 'lamar', 'lan', 'lane', 'languedoc', 'languorous', 'lani', 'lanka', 'lankan', 'lannie', 'laoraowirodge', 'lapico', 'lapin', 'larissa', 'las', 'last', 'late', 'later', 'latter', 'lauder', 'lauper', 'lauren', 'laurence', 'laurentiis', 'laurie', 'lauterbach', 'law', 'lawlor', 'lawrence', 'lawson', 'lcb', 'leah', 'leahy', 'least', 'lebron', 'led', 'leffe', 'legally', 'lelañea', 'lena', 'leon', 'leong', 'les', 'leslie', 'less', 'lester', 'leutwyler', 'level', 'levine', 'lewis', 'liberty', 'lichtenstein', 'lidia', 'lidukhover', 'lieblich', 'lieh', 'ligaya', 'like', 'lillie', 'lincoln', 'linda', 'lindsey', 'liner', 'linquist', 'liotta', 'lippold', 'little', 'liu', 'liz', 'liza', 'llama', 'lloyd', 'loba', 'loeb', 'loffredo', 'log', 'lojera', 'lolo', 'long', 'loos', 'lopez', 'lorella', 'lorna', 'los', 'louie', 'louise', 'lounge', 'love', 'lowcountry', 'lowry', 'luc', 'luce', 'lucky', 'ludgate', 'luigi', 'luk', 'lukas', 'luke', 'luxembourg', 'lydon', 'lyle', 'lynn', 'léclapart', 'léon', 'mac', 'macho', 'macoron', 'macpherson', 'madam', 'madri', 'madrigale', 'maguire', 'mai', 'mailaender', 'maison', 'makeover', 'makimono', 'mako', 'makoshi', 'makoto', 'malo', 'mame', 'mancini', 'mandarin', 'mangez', 'maniec', 'manor', 'manso', 'manuelle', 'many', 'mapo', 'marc', 'marcella', 'marcellin', 'marchesi', 'marchetto', 'marcus', 'marek', 'margaryta', 'margolis', 'marian', 'marie', 'marilyn', 'marimba', 'marina', 'marisa', 'market', 'markus', 'marlon', 'marnell', 'martell', 'martha', 'martin', 'martino', 'marvin', 'marys', 'marzano', 'masaharu', 'masaki', 'masao', 'masato', 'masayoshi', 'mass', 'matador', 'mathieu', 'matin', 'matt', 'matteo', 'matthew', 'matthieu', 'mattingly', 'matto', 'maurice', 'mauro', 'mayle', 'mazeau', 'mazumdar', 'mcallister', 'mcclanahan', 'mcclung', 'mcduffee', 'mcgee', 'mcgown', 'mcinerney', 'mckenna', 'mcmahan', 'mcsorley', 'meadow', 'meehan', 'meg', 'mehdi', 'meier', 'meinl', 'meir', 'meisenger', 'melissa', 'melville', 'meng', 'mercer', 'mercerie', 'mereilles', 'merli', 'merriam', 'mesa', 'meta', 'mex', 'mexi', 'mexicano', 'mi', 'mia', 'micah', 'michel', 'michele', 'michelle', 'mickalene', 'micro', 'mid', 'middle', 'midi', 'mighty', 'miguel', 'mikael', 'mikey', 'milagros', 'milano', 'miles', 'miley', 'milk', 'mill', 'millennium', 'millesime', 'millhauser', 'milton', 'min', 'mina', 'minaj', 'minas', 'minh', 'minnelli', 'minutes', 'miriam', 'miser', 'mishan', 'misleading', 'missy', 'mitchell', 'mo', 'moderne', 'modest', 'moi', 'moira', 'molina', 'molly', 'moma', 'momma', 'monis', 'monk', 'mono', 'monroe', 'monte', 'moon', 'moonen', 'moonlynn', 'morada', 'moran', 'morgenstern', 'morphine', 'morrison', 'morten', 'mortimer', 'mos', 'moskin', 'mount', 'mountain', 'mouse', 'ms', 'muay', 'much', 'mueller', 'mulberry', 'muller', 'murray', 'myhrvold', 'myint', 'mylan', 'myriam', 'myung', 'má', 'máximo', 'médoc', 'nadaman', 'nadel', 'nagila', 'nahon', 'nakayama', 'nancy', 'nang', 'nannie', 'naomichi', 'nargi', 'nasim', 'nassau', 'nast', 'nat', 'natalie', 'natasha', 'nate', 'nathan', 'natty', 'neal', 'nearly', 'ned', 'neil', 'neill', 'nelly', 'nemmers', 'netrebko', 'next', 'nicholas', 'nicki', 'nico', 'nicola', 'nicolas', 'nicole', 'nicotra', 'nigella', 'niki', 'niko', 'niman', 'nina', 'nineties', 'ning', 'ninth', 'niro', 'nish', 'nishihara', 'niven', 'noah', 'noboyushi', 'nobuyoshi', 'nobuyuki', 'noel', 'non', 'noodle', 'noodles', 'nori', 'norma', 'norman', 'north', 'notorious', 'notre', 'nouvelle', 'nuevo', 'number', 'ny', 'oak', 'obeca', 'obolsky', 'ochi', 'oct', 'ode', 'oded', 'ogata', 'oggau', 'ogles', 'okla', 'oklahoma', 'old', 'olda', 'olden', 'oldenburg', 'olga', 'oliveira', 'oliver', 'olsens', 'omar', 'ones', 'ongkeo', 'online', 'onodera', 'op', 'opening', 'ophaso', 'opus', 'ore', 'orhan', 'oriental', 'orleans', 'orson', 'ortner', 'os', 'oskar', 'ostrom', 'ott', 'overseen', 'owerko', 'owl', 'ozersky', 'pablo', 'paces', 'pachter', 'pack', 'padillo', 'padma', 'pages', 'pain', 'paley', 'palin', 'palladin', 'pallenberg', 'palma', 'palo', 'paltrow', 'pamela', 'pandora', 'parachini', 'paradiso', 'paraskevaides', 'parsons', 'parton', 'pascal', 'pasquale', 'past', 'pasta', 'pastures', 'pat', 'patisserie', 'patricia', 'patterson', 'paul', 'paula', 'paulette', 'pauli', 'paulo', 'pavilion', 'payard', 'pazzo', 'pea', 'peach', 'peaks', 'pearls', 'peck', 'pedro', 'peet', 'peggy', 'peluso', 'pena', 'penn', 'penner', 'pennington', 'penny', 'pep', 'peppe', 'pepper', 'per', 'perelman', 'perez', 'perrier', 'perry', 'petersburg', 'peterson', 'petite', 'petroulas', 'peyton', 'phil', 'philip', 'philippe', 'phillip', 'phillips', 'picard', 'pickard', 'pickowicz', 'pierson', 'pietro', 'pilsner', 'ping', 'pinon', 'pinsky', 'pio', 'pippa', 'pitt', 'piven', 'pixy', 'pizarro', 'pizza', 'place', 'plant', 'plaster', 'pleasant', 'plein', 'plimpton', 'plymouth', 'po', 'pocantico', 'pocket', 'pockets', 'point', 'poitou', 'pok', 'pol', 'pollock', 'pope', 'poppins', 'porter', 'porto', 'postino', 'posto', 'poulakakos', 'pounds', 'powell', 'powers', 'prado', 'pray', 'prefecture', 'premiere', 'present', 'pressler', 'previous', 'price', 'prime', 'primi', 'prince', 'prospect', 'province', 'prudhomme', 'psaltis', 'puglisi', 'pui', 'pulixi', 'purple', 'putin', 'pérignon', 'pêche', 'qellu', 'qing', 'quality', 'quarters', 'queensboro', 'quentin', 'quercia', 'quiet', 'quinn', 'quintana', 'quintarelli', 'quinto', 'quirarte', 'quotidien', 'racetrack', 'rachael', 'rachel', 'rachou', 'racicot', 'radcliffe', 'radish', 'rafael', 'raffault', 'ragan', 'rajas', 'rajeev', 'rajesh', 'ralf', 'ralph', 'ram', 'ramiro', 'ramiz', 'ramseyer', 'ramírez', 'ran', 'ranch', 'rand', 'ranges', 'rashid', 'rat', 'raw', 'raymond', 'reade', 'recent', 'reckless', 'recommended', 'red', 'redeye', 'redgrave', 'redouté', 'reds', 'redstone', 'regis', 'rehoboth', 'reixach', 'relais', 'remo', 'renaissance', 'rendell', 'renee', 'renny', 'rensselaer', 'renta', 'renzo', 'rené', 'renée', 'republic', 'reviewing', 'reviver', 'reyes', 'rhode', 'rhonda', 'rhong', 'riad', 'rica', 'ricco', 'richards', 'richter', 

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=['7882', '8245', '14088', '2833', '18339', '52309', '63564', '74987', '99222', '43413', '74921', '15007', 'josh ochoa', '54660', '67148', '30592', '68317', '8150', '86775', '72772', 'meat hook sandwich', '3100', '496', '19513', '3367', '44024', '99931', '51179', '87571', '50739', '78435',...43971', 'de tejas', '55220', '29412', '87805', '56534', '14029', '46319', '29126', '40616', '73688'],
        strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [206]:
tfidf_total_transform = tfidf_total.transform(df['review'])

In [207]:
ngrams = tfidf_total.get_feature_names()

In [208]:
ngram_polarity = [(word, af.score(word)) for word in ngrams]

In [209]:
polar_words = []
for word,score in ngram_polarity:
    if score != 0:
        polar_words.append((word, score))

In [252]:
most_polar_words = []
for word,score in polar_words:
    if score < -3.5 or score > 3.5:
        most_polar_words.append((word, score))

In [253]:
most_polar_words

[('amazing', 4.0),
 ('awesome', 4.0),
 ('bastard', -5.0),
 ('breathtaking', 5.0),
 ('brilliant', 4.0),
 ('catastrophic', -4.0),
 ('damned', -4.0),
 ('ecstatic', 4.0),
 ('exuberant', 4.0),
 ('fabulous', 4.0),
 ('fantastic', 4.0),
 ('fraud', -4.0),
 ('fun', 4.0),
 ('funnier', 4.0),
 ('funny', 4.0),
 ('godsend', 4.0),
 ('heavenly', 4.0),
 ('hell', -4.0),
 ('masterpiece', 4.0),
 ('miracle', 4.0),
 ('outstanding', 5.0),
 ('prick', -5.0),
 ('rapturous', 4.0),
 ('rejoice', 4.0),
 ('slut', -5.0),
 ('stunning', 4.0),
 ('superb', 5.0),
 ('supreme', 4.0),
 ('terrific', 4.0),
 ('terrifically', 4.0),
 ('thrilled', 5.0),
 ('torture', -4.0),
 ('tortured', -4.0),
 ('triumph', 4.0),
 ('triumphant', 4.0),
 ('win', 4.0),
 ('winning', 4.0),
 ('wins', 4.0),
 ('wonderful', 4.0),
 ('wonderfully', 4.0),
 ('wow', 4.0)]

In [254]:
tfidf_vocab = [word for word, score in most_polar_words]

In [255]:
tfidf_vocab = list(set([lemmer.lemmatize(x) for x in tfidf_vocab]))

In [256]:
tfidf_vocab = [word for word in tfidf_vocab if word not in 'hater' and word not in 'bribe']

In [257]:
tfidf_total_df = pd.DataFrame(tfidf_total_transform.toarray(), columns = ngrams)

# Creating a DF for Modeling

In [258]:
modeling = df.copy()

In [259]:
modeling.shape

(615, 15)

In [260]:
modeling.reset_index(drop=True, inplace=True)

In [261]:
modeling = pd.concat([modeling,tfidf_total_df[tfidf_vocab]], axis=1)

In [262]:
modeling.shape

(615, 55)

In [263]:
from sklearn.preprocessing import OneHotEncoder

In [264]:
ohe_rev = OneHotEncoder(sparse=False)
ohe_area = OneHotEncoder(sparse=False)

In [265]:
reviewer_dummies = ohe_rev.fit_transform(np.array(df['reviewer']).reshape(-1,1))

In [266]:
reviewer_dum_df = pd.DataFrame(reviewer_dummies, columns = ohe_rev.get_feature_names())

In [267]:
area_dummies = ohe_area.fit_transform(np.array(df['area']).reshape(-1,1))

In [268]:
area_dum_df = pd.DataFrame(area_dummies, columns = ohe_area.get_feature_names())

In [269]:
modeling = pd.concat([modeling, reviewer_dum_df, area_dum_df], axis=1)

In [270]:
modeling.shape

(615, 63)

In [271]:
modeling.columns

Index(['name', 'rating', 'review_date', 'reviewer', 'review_url',
       'neighborhood', 'review', 'headline', 'tokens', 'vocabulary', 'area',
       'af_avg_pol', 'af_min_pol', 'af_max_pol', 'af_std_pol', 'triumphant',
       'win', 'hell', 'masterpiece', 'thrilled', 'wonderful', 'damned',
       'breathtaking', 'heavenly', 'wonderfully', 'terrifically', 'rejoice',
       'miracle', 'godsend', 'fabulous', 'torture', 'wow', 'ecstatic', 'slut',
       'brilliant', 'outstanding', 'amazing', 'supreme', 'tortured', 'triumph',
       'awesome', 'fraud', 'prick', 'funny', 'superb', 'fantastic',
       'exuberant', 'catastrophic', 'stunning', 'terrific', 'fun', 'funnier',
       'winning', 'bastard', 'rapturous', 'x0_Frank Bruni', 'x0_Pete Wells',
       'x0_Sam Sifton', 'x0_Brooklyn', 'x0_Downtown', 'x0_Midtown', 'x0_Other',
       'x0_Uptown'],
      dtype='object')

In [272]:
modeling.to_csv('modeling_3.csv')